.about {
  background-color: #171616;
  padding: 115px 0;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    max-width: 505px;
    &-title {
      color: #fff;
    }
    &-text {
      color: #b7b7b7;
      font-weight: 600;
      margin: 40px 0 40px;
      letter-spacing: 0.23em;
    }
    &-link {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.13em;
      text-decoration: underline;
      text-transform: uppercase;
      transition: all 0.2s ease;
      &:hover {
        text-decoration: none;
        color: #db2512;
        text-shadow: 1px 1px 2px pink;
      }
    }
  }
  &__img {
    height: 340px;
  }
}
