.menu {
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 315px;
  text-align: center;
  gap: 35px;
  &__item {
    &-link {
      display: inline-block;
      color: #fff;
      padding-bottom: 2px;
      transition: all 0.5s ease;
      &:hover {
        color: #b7b7b7;
      }
    }
    &-link.active {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #fff;
      }
    }
  }
}
